In [1]:
import os
os.getcwd()

'C:\\Users\\gcet\\Desktop\\Python course\\Python codes'

In [2]:
os.chdir("C:/Users/gcet/Desktop/Hackathon/fwddatasetsandcasestudyforhackathon")

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing

In [20]:
credit=pd.read_csv('german_credit.csv')

In [21]:
credit

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
5,1,1,10,4,0,2241,1,2,1,3,...,3,1,48,3,1,2,2,2,1,2
6,1,1,8,4,0,3398,1,4,1,3,...,4,1,39,3,2,2,2,1,1,2
7,1,1,6,4,0,1361,1,2,2,3,...,4,1,40,3,2,1,2,2,1,2
8,1,4,18,4,3,1098,1,1,4,2,...,4,3,65,3,2,2,1,1,1,1
9,1,2,24,2,3,3758,3,1,1,2,...,4,4,23,3,1,1,1,1,1,1
10,1,1,11,4,0,3905,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
11,1,1,30,4,1,6187,2,4,1,4,...,4,3,24,3,1,2,3,1,1,1
12,1,1,6,4,3,1957,1,4,1,2,...,4,3,31,3,2,1,3,1,1,1
13,1,2,48,3,10,7582,2,1,2,3,...,4,4,31,3,2,1,4,1,2,1
14,1,1,18,2,3,1936,5,4,2,4,...,4,3,23,3,1,2,2,1,1,1
15,1,1,6,2,3,2647,3,3,2,3,...,3,1,44,3,1,1,3,2,1,1
16,1,1,11,4,0,3939,1,3,1,3,...,2,1,40,3,2,2,2,2,1,1
17,1,2,18,2,3,3213,3,2,1,4,...,3,1,25,3,1,1,3,1,1,1
18,1,2,36,4,3,2337,1,5,4,3,...,4,1,36,3,2,1,3,1,1,1
19,1,4,11,4,0,7228,1,3,1,3,...,4,2,39,3,2,2,2,1,1,1
20,1,1,6,4,0,3676,1,3,1,3,...,3,1,37,3,1,3,3,2,1,1
21,1,2,12,4,0,3124,1,2,1,3,...,3,1,49,1,2,2,2,2,1,1
22,0,2,36,2,5,2384,1,2,4,3,...,1,4,33,3,1,1,2,1,1,1
23,1,2,12,4,4,1424,1,4,4,3,...,3,2,26,3,2,1,3,1,1,1
24,1,1,6,4,0,4716,5,2,1,3,...,3,1,44,3,2,2,2,2,1,1
25,1,2,11,3,3,4771,1,4,2,3,...,4,2,51,3,2,1,3,1,1,1
26,1,1,12,2,2,652,1,5,4,2,...,4,2,24,3,1,1,3,1,1,1
27,1,2,9,4,3,1154,1,5,2,3,...,4,1,37,3,2,3,2,1,1,1
28,1,4,15,2,0,3556,5,3,3,3,...,2,4,29,3,2,1,3,1,1,1
29,1,3,42,4,1,4796,1,5,4,3,...,4,4,56,3,3,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0,4,48,2,9,4844,1,1,3,3,...,2,3,33,3,1,1,4,1,2,1
971,0,2,27,0,9,8318,1,5,2,2,...,4,4,42,2,3,2,4,1,2,1
972,0,3,18,2,3,2100,1,3,4,3,...,2,1,37,3,2,1,3,1,1,1
973,0,1,45,0,9,11816,1,5,2,3,...,4,3,29,3,1,2,3,1,1,1
974,0,1,6,2,6,448,1,2,4,2,...,4,2,23,3,2,1,3,1,1,1
975,0,1,30,2,5,11998,1,2,1,1,...,1,4,34,1,2,1,2,1,2,1
976,0,2,48,0,10,18424,1,3,1,2,...,2,2,32,1,2,1,4,1,2,2
977,0,1,6,2,0,14896,1,5,1,3,...,4,4,68,1,2,1,4,1,2,1
978,0,2,12,2,2,2762,5,5,1,2,...,2,2,25,3,2,1,3,1,2,1
979,0,1,12,2,1,3386,1,5,3,3,...,4,4,35,3,3,1,3,1,2,1
980,0,2,24,2,3,2039,1,2,1,4,...,1,2,22,3,2,1,3,1,2,1
981,0,4,18,3,9,2169,1,3,4,4,...,2,3,28,3,2,1,3,1,2,1
982,0,2,48,4,2,5096,1,3,2,2,...,3,3,30,3,2,1,4,1,2,1
983,0,1,18,2,3,1882,1,3,4,2,...,4,3,25,1,1,2,3,1,1,1
984,0,1,48,2,3,6999,1,4,1,4,...,1,1,34,3,2,2,3,1,2,1
985,0,4,12,4,9,2292,1,1,4,3,...,2,3,42,2,2,2,4,1,2,1
986,0,1,14,2,0,8978,1,5,1,1,...,4,2,45,3,2,1,4,1,2,2
987,0,1,12,2,3,674,2,4,4,4,...,1,2,20,3,2,1,3,1,1,1
988,0,1,18,2,0,976,1,2,1,2,...,2,3,23,3,2,1,2,1,1,1
989,0,2,24,2,0,2718,1,3,3,2,...,4,2,20,3,1,1,2,1,2,1
990,0,1,18,2,6,750,1,1,4,2,...,1,1,27,3,2,1,1,1,1,1
991,0,2,24,2,1,12579,1,5,4,2,...,2,4,44,3,3,1,4,1,2,1
992,0,1,18,2,1,7511,5,5,1,3,...,4,2,51,3,3,1,3,2,2,1
993,0,1,18,4,0,3966,1,5,1,2,...,4,1,33,1,1,3,3,1,2,1
994,0,1,12,0,3,6199,1,3,4,3,...,2,2,28,3,1,2,3,1,2,1
995,0,1,24,2,3,1987,1,3,2,3,...,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,...,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,...,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,...,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,...,4,2,31,3,2,1,3,1,1,1

In [22]:
x=credit.loc[:, ['Credit Amount','Purpose','Account Balance']]

In [23]:
x.describe()

       Credit Amount      Purpose  Account Balance
count     1000.00000  1000.000000      1000.000000
mean      3271.24800     2.828000         2.577000
std       2822.75176     2.744439         1.257638
min        250.00000     0.000000         1.000000
25%       1365.50000     1.000000         1.000000
50%       2319.50000     2.000000         2.000000
75%       3972.25000     3.000000         4.000000
max      18424.00000    10.000000         4.000000

In [24]:
x=credit.iloc[:,1:31]
y=credit.iloc[:,0]

In [25]:
x

,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,Guarantors,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,18,4,2,1049,1,2,4,2,1,4,2,21,3,1,1,3,1,1,1
1,1,9,4,0,2799,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
2,2,12,2,9,841,2,4,2,2,1,4,1,23,3,1,1,2,1,1,1
3,1,12,4,0,2122,1,3,3,3,1,2,1,39,3,1,2,2,2,1,2
4,1,12,4,0,2171,1,3,4,3,1,4,2,38,1,2,2,2,1,1,2
5,1,10,4,0,2241,1,2,1,3,1,3,1,48,3,1,2,2,2,1,2
6,1,8,4,0,3398,1,4,1,3,1,4,1,39,3,2,2,2,1,1,2
7,1,6,4,0,1361,1,2,2,3,1,4,1,40,3,2,1,2,2,1,2
8,4,18,4,3,1098,1,1,4,2,1,4,3,65,3,2,2,1,1,1,1
9,2,24,2,3,3758,3,1,1,2,1,4,4,23,3,1,1,1,1,1,1
10,1,11,4,0,3905,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
11,1,30,4,1,6187,2,4,1,4,1,4,3,24,3,1,2,3,1,1,1
12,1,6,4,3,1957,1,4,1,2,1,4,3,31,3,2,1,3,1,1,1
13,2,48,3,10,7582,2,1,2,3,1,4,4,31,3,2,1,4,1,2,1
14,1,18,2,3,1936,5,4,2,4,1,4,3,23,3,1,2,2,1,1,1
15,1,6,2,3,2647,3,3,2,3,1,3,1,44,3,1,1,3,2,1,1
16,1,11,4,0,3939,1,3,1,3,1,2,1,40,3,2,2,2,2,1,1
17,2,18,2,3,3213,3,2,1,4,1,3,1,25,3,1,1,3,1,1,1
18,2,36,4,3,2337,1,5,4,3,1,4,1,36,3,2,1,3,1,1,1
19,4,11,4,0,7228,1,3,1,3,1,4,2,39,3,2,2,2,1,1,1
20,1,6,4,0,3676,1,3,1,3,1,3,1,37,3,1,3,3,2,1,1
21,2,12,4,0,3124,1,2,1,3,1,3,1,49,1,2,2,2,2,1,1
22,2,36,2,5,2384,1,2,4,3,1,1,4,33,3,1,1,2,1,1,1
23,2,12,4,4,1424,1,4,4,3,1,3,2,26,3,2,1,3,1,1,1
24,1,6,4,0,4716,5,2,1,3,1,3,1,44,3,2,2,2,2,1,1
25,2,11,3,3,4771,1,4,2,3,1,4,2,51,3,2,1,3,1,1,1
26,1,12,2,2,652,1,5,4,2,1,4,2,24,3,1,1,3,1,1,1
27,2,9,4,3,1154,1,5,2,3,1,4,1,37,3,2,3,2,1,1,1
28,4,15,2,0,3556,5,3,3,3,1,2,4,29,3,2,1,3,1,1,1
29,3,42,4,1,4796,1,5,4,3,1,4,4,56,3,3,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,4,48,2,9,4844,1,1,3,3,1,2,3,33,3,1,1,4,1,2,1
971,2,27,0,9,8318,1,5,2,2,1,4,4,42,2,3,2,4,1,2,1
972,3,18,2,3,2100,1,3,4,3,2,2,1,37,3,2,1,3,1,1,1
973,1,45,0,9,11816,1,5,2,3,1,4,3,29,3,1,2,3,1,1,1
974,1,6,2,6,448,1,2,4,2,1,4,2,23,3,2,1,3,1,1,1
975,1,30,2,5,11998,1,2,1,1,1,1,4,34,1,2,1,2,1,2,1
976,2,48,0,10,18424,1,3,1,2,1,2,2,32,1,2,1,4,1,2,2
977,1,6,2,0,14896,1,5,1,3,1,4,4,68,1,2,1,4,1,2,1
978,2,12,2,2,2762,5,5,1,2,1,2,2,25,3,2,1,3,1,2,1
979,1,12,2,1,3386,1,5,3,3,1,4,4,35,3,3,1,3,1,2,1
980,2,24,2,3,2039,1,2,1,4,1,1,2,22,3,2,1,3,1,2,1
981,4,18,3,9,2169,1,3,4,4,1,2,3,28,3,2,1,3,1,2,1
982,2,48,4,2,5096,1,3,2,2,1,3,3,30,3,2,1,4,1,2,1
983,1,18,2,3,1882,1,3,4,2,1,4,3,25,1,1,2,3,1,1,1
984,1,48,2,3,6999,1,4,1,4,3,1,1,34,3,2,2,3,1,2,1
985,4,12,4,9,2292,1,1,4,3,1,2,3,42,2,2,2,4,1,2,1
986,1,14,2,0,8978,1,5,1,1,1,4,2,45,3,2,1,4,1,2,2
987,1,12,2,3,674,2,4,4,4,1,1,2,20,3,2,1,3,1,1,1
988,1,18,2,0,976,1,2,1,2,1,2,3,23,3,2,1,2,1,1,1
989,2,24,2,0,2718,1,3,3,2,1,4,2,20,3,1,1,2,1,2,1
990,1,18,2,6,750,1,1,4,2,1,1,1,27,3,2,1,1,1,1,1
991,2,24,2,1,12579,1,5,4,2,1,2,4,44,3,3,1,4,1,2,1
992,1,18,2,1,7511,5,5,1,3,1,4,2,51,3,3,1,3,2,2,1
993,1,18,4,0,3966,1,5,1,2,1,4,1,33,1,1,3,3,1,2,1
994,1,12,0,3,6199,1,3,4,3,1,2,2,28,3,1,2,3,1,2,1
995,1,24,2,3,1987,1,3,2,3,1,4,1,21,3,1,1,2,2,1,1
996,1,24,2,0,2303,1,5,4,3,2,1,1,45,3,2,1,3,1,1,1
997,4,21,4,0,12680,5,5,4,3,1,4,4,30,3,3,1,4,1,2,1
998,2,12,2,3,6468,5,1,2,3,1,1,4,52,3,2,1,4,1,2,1
999,1,30,2,2,6350,5,5,4,3,1,4,2,31,3,2,1,3,1,1,1

In [26]:
y

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     0
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
970    0
971    0
972    0
973    0
974    0
975    0
976    0
977    0
978    0
979    0
980    0
981    0
982    0
983    0
984    0
985    0
986    0
987    0
988    0
989    0
990    0
991    0
992    0
993    0
994    0
995    0
996    0
997    0
998    0
999    0
Name: Creditability, Length: 1000, dtype: int64

In [27]:
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(x).transform(x)

array([[0.        , 0.20588235, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.07352941, 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.33333333, 0.11764706, 0.5       , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.25      , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.33333333, 0.11764706, 0.5       , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.38235294, 0.5       , ..., 0.        , 0.        ,
        0.        ]])

In [29]:
from sklearn import cross_validation, neighbors
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

C:\Users\gcet\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Logistic Regression

In [32]:
from sklearn.linear_model.logistic import LogisticRegression
cls =LogisticRegression(random_state =0)
lr_cls=cls.fit(x_train, y_train)

In [33]:
lr_y_test =lr_cls.predict(x_test)
lr_y_test

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [34]:
lr_y_train = lr_cls.predict(x_train)
lr_y_train

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [35]:
from sklearn.metrics import confusion_matrix
lr_cm_test = confusion_matrix(y_test, lr_y_test)
lr_cm_test

array([[ 27,  40],
       [ 17, 116]], dtype=int64)

In [36]:
from sklearn.metrics import accuracy_score
lr_accu_test= accuracy_score(y_test,lr_y_test)
lr_accu_test

0.715

In [37]:
lr_accu_train= accuracy_score(y_train,lr_y_train)  #train 98--rs=50  
lr_accu_train

0.7775

In [39]:
from sklearn.metrics import precision_score

lr_precision_test =precision_score(y_test, lr_y_test, average='weighted')  
print(lr_precision_test)
lr_precision_train =precision_score(y_train, lr_y_train, average='weighted')
print(lr_precision_train)

0.7000553613053613
0.7658584804808747

# Decision Tree

In [40]:
from sklearn.tree import DecisionTreeClassifier
dtc_clf = DecisionTreeClassifier()
dtc_clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
dtc_y_test =dtc_clf.predict(x_test)
dtc_y_test

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1], dtype=int64)

In [43]:
dtc_y_train = dtc_clf.predict(x_train)
dtc_y_train

array([1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [44]:
from sklearn.metrics import confusion_matrix
dtc_cm_test = confusion_matrix(y_test, dtc_y_test)
dtc_cm_test

array([[ 40,  27],
       [ 30, 103]], dtype=int64)

In [45]:
from sklearn.metrics import accuracy_score
dtc_accu_test= accuracy_score(y_test,dtc_y_test)
dtc_accu_test

0.715

In [46]:
dtc_accu_train= accuracy_score(y_train,dtc_y_train)    
dtc_accu_train

1.0

In [47]:
from sklearn.metrics import precision_score
dtc_precision_test =precision_score(y_test, dtc_y_test, average='weighted')  
print(dtc_precision_test)
dtc_precision_train =precision_score(y_train, dtc_y_train, average='weighted')
print(dtc_precision_train)

0.7183131868131868
1.0

In [48]:
from sklearn.metrics import recall_score
dtc_recall_test=recall_score(y_test,dtc_y_test, average='weighted' )
print(dtc_recall_test)
dtc_recall_train=recall_score(y_train,dtc_y_train, average='weighted' )
print(dtc_recall_train)

0.715
1.0

# Random Forest

In [49]:
from sklearn.ensemble import RandomForestClassifier
rmf = RandomForestClassifier(max_depth=3, random_state=0)
rf_classi = rmf.fit(x_train, y_train)

In [50]:
rf_y_test = rf_classi.predict(x_test)
rf_y_test

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [51]:
rf_y_train = rf_classi.predict(x_train)
rf_y_train

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [52]:
from sklearn.metrics import confusion_matrix
rf_cm_test = confusion_matrix(y_test, rf_y_test)
rf_cm_test

array([[ 18,  49],
       [ 12, 121]], dtype=int64)

In [53]:
rf_cm_train = confusion_matrix(y_train, rf_y_train)
rf_cm_train

array([[ 77, 156],
       [ 16, 551]], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score
rf_accu_test= accuracy_score(y_test,rf_y_test)  #test
rf_accu_test

0.695

In [55]:
rf_accu_train= accuracy_score(y_train,rf_y_train)  
rf_accu_train

0.785

In [56]:
from sklearn.metrics import precision_score
rf_precision_test =precision_score(y_test, rf_y_test, average='weighted')  
print(rf_precision_test)  
rf_precision_train =precision_score(y_train, rf_y_train, average='weighted')
print(rf_precision_train)

0.6743235294117648
0.7935063345044182

In [57]:
from sklearn.metrics import recall_score
rf_recall_test=recall_score(y_test,rf_y_test, average='weighted' )
print(rf_recall_test)
rf_recall_train=recall_score(y_train,rf_y_train, average='weighted' )
print(rf_recall_train)

0.695
0.785

In [58]:
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier
seed = 7
num_trees = 30
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, x_train, y_train, cv=kfold)

In [59]:
results.mean()

0.7662500000000001

In [60]:
accuracy = 100 - results.mean()
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 99.23 %.